.card{
    background-color: #bdc3c7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    margin:auto;
    transition: 2s;
    padding-left: 2px;
    border-radius: 20px;
    padding-right: 2px;
    padding-bottom:2px;
}

body {
    background-image: url("images/a.jpg");
    background-repeat: no-repeat;
    border-radius: 50%,
    margin-left: 500px;
    margin-top: 200px;
    background-size: 1300px;
}
p {
    font-family: "Times New Roman", Times, serif;
    font-size: 16.5px;
}
.heading{
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #1C9487;
    font-weight: 400;
    line-height: 1.4em;
    transition: .25s;
    text-align: center;
    margin-bottom: 0px;
}
.sub_heading{
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #1C9487;
    font-weight: 400;
    line-height: 1.4em;
    transition: .25s;
    text-align: center;
    margin-bottom: 0px;
}
.tags{
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0;
}
img{
    width: 500px;
    height: auto;
    float: center;
}