{% load static %}
<!DOCTYPE html>
<html>
<meta name = "viewport" content = "width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Emilys+Candy|Frijole" rel="stylesheet">
<link href="post.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}"/>
{% include 'nav/navs.html' %}
<title>Post Detail | My Blog</title>

{% block content %}


<title>Post Detail</title>

    <div class="card">
      <h1 class="heading">{{post.blog.heading}}</h1>
      <h2 class="sub_heading">{{post.blog.sub_heading}}</h2> 
      <p><strong>Posted By:</strong> {{post.user}}</p>
      <small> Posted on: {{ post.date_created }} ago</small></p>
      <img src="{{post.banner_photo.url}}">
      <p class="p">{{post.body}}</p>
      <small>Date Modified: {{post.date_modified }} </small>
      <div class="tags">
      {% for tag in post.tags.all %}
          <h3>{% if not forloop.last %}
        {{tag}},</h3>
          {% else  %}
        {{tag}}
          {% endif %}
      {% endfor %}
      </div> 
   </div>
   <p>commments :</p>
    {% for comment in comment %}
    <p>{{comment.author}}:  {{ comment.text }}</p>
    <small>{{ comment.date_created  }}</small>
    <hr>
   {% endfor %}
<a href="{% url 'blog:post-comment' %}">comment</a>
{% endblock %}
</html>
