{% load staticfiles %}
<!DOCTYPE html>
<html>


<link rel="stylesheet" href="{% static 'css/nav.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}" />
{% include 'nav/navs.html' %}
<title>Post List | My Blog</title>

{% block content %}
   {% if object_list %}
   {% for post in object_list %}

   <div class="card">
     <h1>{{ post.title }}</h1>
     <h2>{{ post.sub_title }}</h2>
     <img src="{{post.banner_photo.url}}">
     <p class="li" ><a href='{% url "blog:post_detail" post.title %}'>Details</a> </p>  
   </div> 
   {% endfor %}
   {% else %}
    <p>No post</p>
  {% endif %}
{% endblock %}
</html>
